<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Keekeep Resto's</title>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400;500;700&display=swap" rel="stylesheet" />
</head>

<body>
    <nav id="slide" class="nav">
        <div class="nav__title">
            <h1>Keekeep's Restaurant</h1>
        </div>
        <div class="menu">
            <ul class="nav__list">
                <li>
                    <a href="index.html"></a>Home</li>
                <li>
                    <a href="#"></a>Favorite</li>
                <li>
                    <a href="https://plikipie.github.io/"></a>About Us</li>
            </ul>
        </div>
    </nav>
    <div class="hero">
        <div class="hero__wrap">
            <h1 class="hero__title">Good Taste Good Food</h1>
            <p class="hero__tagline">
                Bagi pecinta makanan, pastinya sudah hafal betul kalau di sini kamu bisa menikmati makanan dengan kualitas super. Makanan yang disajikan di sini menggunakan bahan yang segar dengan cita rasa yang otentik.
            </p>
        </div>
    </div>
    <main>
        <section class="content__title">
            <div class="headline__wrap">
                <h1 class="headline__title">Explore Restaurant</h1>
            </div>

            <section class="main__content">
                <div class="main__card">
                    <h4 class="img__tagline">Kota :</h4>
                    <img src="/images/heros/hero-image_4.jpg" alt="" class="card__img" />
                    <div class="card__tagline">
                        <h3 class="rating">Rating :</h3>
                        <h1 class="img__title">Judul</h1>
                        <p class="img__description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, in? Itaque facilis dolorem enim obcaecati voluptatem autem, sequi, explicabo impedit aliquid non voluptas ipsa, eos eius veniam! Veniam, ex nisi!
                        </p>
                    </div>
                </div>
                <div class="main__card">
                    <h4 class="img__tagline">Kota :</h4>
                    <img src="/images/heros/hero-image_1.jpg" alt="" class="card__img" />
                    <div class="card__tagline">
                        <h3 class="rating">Rating :</h3>
                        <h1 class="img__title">Judul</h1>
                        <p class="img__description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, in? Itaque facilis dolorem enim obcaecati voluptatem autem, sequi, explicabo impedit aliquid non voluptas ipsa, eos eius veniam! Veniam, ex nisi!
                        </p>
                    </div>
                </div>
                <div class="main__card">
                    <h4 class="img__tagline">Kota :</h4>
                    <img src="/images/heros/hero-image_2.jpg" alt="" class="card__img" />
                    <div class="card__tagline">
                        <h3 class="rating">Rating :</h3>
                        <h1 class="img__title">Judul</h1>
                        <p class="img__description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, in? Itaque facilis dolorem enim obcaecati voluptatem autem, sequi, explicabo impedit aliquid non voluptas ipsa, eos eius veniam! Veniam, ex nisi!
                        </p>
                    </div>
                </div>
            </section>
        </section>
    </main>
</body>

</html>