<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Keekeep's Restaurant</title>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400;500;700&display=swap" rel="stylesheet" />
    <link rel="shortcut icon" href="/images/heros/favicon.ico" type="image/x-icon" />
</head>

<body>
    <nav id="slide" class="nav">
        <div tabindex="0" class="nav__logo">
            <h1>Keekeep's Restaurant</h1>
        </div>
        <div class="menu">
            <a href="#">home</a>
            <a href="#">favorite</a>
            <a href="https://github.com/plikipie">about us</a>
        </div>

        <div class="menu-toggle">
            <input type="checkbox" />
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>
    <div class="hero">
        <div tabindex="0" class="hero__wrap">
            <h1 class="hero__title">real taste real food</h1>
            <p class="hero__tagline">
                Bagi pecinta makanan, pastinya sudah hafal betul kalau di sini kamu bisa menikmati makanan dengan kualitas super. Makanan yang disajikan di sini menggunakan bahan yang segar dengan cita rasa yang otentik.
            </p>
        </div>
    </div>
    <main>
        <div class="first__content">
            <div class="content__wrap">
                <div class="img__content"></div>
                <div class="content__tagline">
                    <h1 tabindex="0" class="content__name">Head Chef</h1>
                    <h2 class="name__title">Arnold Renatta Moeloeg</h2>
                    <p class="content__description1">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem hic, dolor fuga eligendi eum tenetur aperiam aliquam, ex maiores sequi esse delectus voluptates. Fugiat dicta adipisci quisquam autem culpa labore.
                    </p>
                    <p class="content__description2">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum fugiat adipisci soluta. Ex at sed enim iure minus fuga impedit odit molestiae. Voluptatibus ipsam earum rem iure harum eos optio? Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Facilis quod unde similique harum dolore velit molestiae, quis omnis consequuntur aut eligendi aspernatur sed obcaecati repellendus repudiandae. Tempora odio magni labore!
                    </p>
                    <p class="content__description3">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quia praesentium, accusamus ea optio reprehenderit tempora omnis provident facilis, aspernatur quas fugiat veniam earum explicabo sunt adipisci hic nihil suscipit? Temporibus molestiae
                        inventore quod voluptates blanditiis in iure minima molestias iste dolorem sint tempora itaque, cupiditate, sequi officia, ab consequatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quia praesentium, accusamus
                        ea optio reprehenderit tempora omnis provident facilis, aspernatur quas fugiat veniam earum explicabo sunt adipisci hic nihil suscipit? Temporibus molestiae inventore quod voluptates blanditiis in iure minima molestias iste dolorem
                        sint tempora itaque, cupiditate, sequi officia, ab consequatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis quia praesentium, accusamus ea optio reprehenderit tempora omnis provident facilis, aspernatur quas
                        fugiat veniam earum explicabo sunt adipisci hic nihil suscipit? Temporibus molestiae inventore quod voluptates blanditiis in iure minima molestias iste dolorem sint tempora itaque, cupiditate, sequi officia, ab consequatur.
                    </p>
                </div>
            </div>
        </div>
        <section class="content__title">
            <div class="headline__wrap">
                <h1 tabindex="0" class="headline__title">Explore Restaurant</h1>
            </div>
            <section class="main__content" id="main__content"></section>
        </section>
    </main>
    <footer class="footer">
        <div class="wrap__footer">
            <h1 class="footer__tagline">
                Copyright © 2020 -
                <a href="https://www.instagram.com/plikipie/" class="footer__name">Keekeep's Restaurant</a
          >
        </h1>
      </div>
    </footer>
  </body>
</html>