.first__content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 669px;
    background-color: var(--primary-color);
    .content__wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 20px;
        align-items: center;
        padding-left: 20px;
        max-width: 980px;
        min-height: 550px;
    }
    .img__content {
        width: 100%;
        min-height: 500px;
        background-image: url("/images/heros/hero-image_1.jpg");
        background-position: center;
        background-size: cover;
        border-radius: 8px;
    }
    .content__tagline {
        min-height: 450px;
    }
    .content__name {
        font-size: 24px;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
    }
    .name__title {
        font-size: 34px;
        font-weight: 700;
        padding-top: 10px;
        text-align: center;
    }
    .content__description1 {
        font-size: 14px;
        font-weight: 100;
        padding-top: 10px;
        text-align: center;
    }
    .content__description2 {
        font-size: 14px;
        font-weight: 100;
        padding-top: 10px;
        text-align: center;
    }
    .content__description3 {
        font-size: 14px;
        font-weight: 100;
        padding-top: 10px;
        text-align: center;
    }
}

.content__title {
    min-height: 680px;
    width: 100%;
    text-align: center;
    background-color: var(--primary-color);
    .headline__wrap {
        text-align: center;
        padding-top: 20px;
    }
    .headline__title {
        font-size: 44px;
        font-weight: 100;
    }
}


/*explore article*/

.main__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 40px 30px;
    justify-content: center;
    margin: 32px auto auto;
    text-align: left;
    overflow: auto;
    padding: 20px 30px 20px 30px;
    justify-content: center;
    padding-bottom: 20px;
}

.main__card {
    padding: 0px 5px 10px 5px;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0.2px solid var(--text-color);
    overflow: hidden;
    transition: 0.8s;
    background-color: var(--primary-color);
    color: var(--text-color);
    .card__tagline {
        padding: 16px 32px 36px 32px;
        margin-left: 5px auto;
        margin-right: 5px auto;
    }
    .img__tagline {
        padding: 5px 5px 5px 5px;
        font-size: 20px;
        font-weight: 300;
    }
    .rating {
        font-size: 20px;
        font-weight: 300;
        padding-bottom: 10px;
    }
    .img__title {
        font-size: 32px;
        font-weight: 700;
        padding-bottom: 10px;
    }
    .img__description {
        font-size: 16px;
        font-weight: 300;
    }
}

.main__card:hover {
    -webkit-box-shadow: 0px -1px 17px 3px rgba(19, 59, 92, 1);
    -moz-box-shadow: 0px -1px 17px 3px rgba(19, 59, 92, 1);
    box-shadow: 0px -1px 17px 3px rgba(19, 59, 92, 1);
    transition: 0.8s;
}

.card__img {
    width: 100%;
    border-radius: 5px;
    min-height: 100px;
}