.content__title {
    min-height: 680px;
    width: 100%;
    text-align: center;
    background-color: var(--primary-color);
    .headline__wrap {
        text-align: center;
        padding-top: 20px;
    }
    .headline__title {
        font-size: 44px;
        font-weight: 100;
    }
}


/*explore article*/

.main__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    gap: 20px;
    justify-content: center;
    margin: 32px auto auto;
    text-align: left;
    overflow: auto;
    padding: 20px 30px 20px 30px;
}

.main__card {
    padding: 0px 5px 10px 5px;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0.2px solid #ffffff;
    overflow: hidden;
    transition: 0.8s;
    .card__tagline {
        padding: 16px 32px 36px 32px;
        margin-left: 5px auto;
        margin-right: 5px auto;
    }
    .img__tagline {
        padding: 5px 5px 5px 5px;
        font-size: 20px;
        font-weight: 300;
    }
    .rating {
        font-size: 20px;
        font-weight: 300;
        padding-bottom: 10px;
    }
    .img__title {
        font-size: 32px;
        font-weight: 700;
        padding-bottom: 10px;
    }
    .img__description {
        font-size: 16px;
        font-weight: 300;
    }
}

.main__card:hover {
    -webkit-box-shadow: -1px -1px 31px -5px rgba(32, 171, 171, 1);
    -moz-box-shadow: -1px -1px 31px -5px rgba(32, 171, 171, 1);
    box-shadow: -1px -1px 31px -5px rgba(32, 171, 171, 1);
    transition: 0.8s;
}

.card__img {
    width: 100%;
    border-radius: 5px;
}