@media screen and (max-width: 576px) {
    .menu {
        display: none;
    }
    .content__wrap {
        display: grid !important;
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
        justify-items: center !important;
        align-items: center !important;
    }
    .img__content {
        width: 100% !important;
        height: auto;
        margin-top: 20px;
        object-position: center;
        object-fit: center;
    }
    .content__tagline {
        width: 75%;
        height: auto;
        padding-top: 10px;
        padding-right: 20px !important;
    }
    .main__content {
        display: grid;
        grid-template-columns: 1fr !important;
    }
}

@media screen and (max-width: 632px) {
    .main__content {
        display: grid;
        grid-template-columns: 1fr !important;
    }
}

@media screen and (max-width: 768px) {
    .menu {
        display: none;
        width: 50%;
        order: -1;
        justify-items: end;
    }
    .nav #hamburger {
        display: flex;
    }
    .nav ul {
        display: flex;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        max-height: 500px;
        flex-direction: column;
        height: 100vh;
        justify-content: space-evenly;
        align-items: center;
        z-index: 1;
        transform: translateY(-100%);
        transition: all 1s;
        opacity: 0;
        background-color: var(--secondary-color);
        .closebtn {
            display: flex;
            position: absolute;
            top: 0;
            right: 0;
            font-size: 36px;
            margin-left: 50px;
            color: var(--text-color);
        }
    }
    .nav ul.slide {
        opacity: 1;
        transform: translateY(0);
    }
    .content__wrap {
        display: grid !important;
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
        justify-items: center;
        align-items: center;
    }
    .img__content {
        width: 75.6% !important;
        height: auto;
        margin-top: 20px;
    }
    .content__tagline {
        width: 85%;
        height: auto;
        padding-top: 10px;
        padding-right: 20px !important;
    }
    .main__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
}

@media screen and (max-width: 1072px) {
    .main__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
}

@media screen and (max-width: 1024px) {
    .menu {
        order: inherit;
        grid-template-columns: 1fr;
    }
}