@media screen and (max-width: 576px) {
    .menu {
        display: none;
    }
    .content__wrap {
        display: grid !important;
        grid-template-columns: 1fr;
        grid-gap: 10px 16px;
    }
}

@media screen and (max-width: 768px) {
    .menu {
        width: 50%;
        order: -1;
        justify-items: end;
    }
    .menu-toggle {
        display: flex;
    }
    .nav ul {
        display: flex;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        max-height: 500px;
        flex-direction: column;
        height: 100vh;
        justify-content: space-evenly;
        align-items: center;
        z-index: 1;
        transform: translateY(-100%);
        transition: all 1s;
        opacity: 0;
        background-color: var(--secondary-color);
    }
    .nav ul.slide {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 1024px) {
    .menu {
        order: inherit;
        grid-template-columns: 1fr;
    }
}